<!-- Filter -->
<ng-container *ngIf="isFilterable">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput placeholder="filter" [(ngModel)]="searchvalue">
  </mat-form-field>
  <button (click)="FilterChanged()">Search</button>
</ng-container>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="sortTable($event)">

  <ng-container [matColumnDef]="column.name" *ngFor="let column of columns">

    <!-- if sortable column header -->
    <ng-container *ngIf="column.isSortable">
      <mat-header-cell *matHeaderCellDef [mat-sort-header]="column.name"
        [arrowPosition]="column.position === 'right' ? 'before' : 'after'">
        {{column.name}}
      </mat-header-cell>
    </ng-container>-->

    <!-- else not sortable -->
    <mat-header-cell *matHeaderCellDef [class.text-right]="column.position == 'right'">
      {{ column.name }}
    </mat-header-cell>

    <mat-cell *matCellDef="let element">
      {{ element.values[column.name] }}
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="columnNames; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columnNames"></mat-row>

</mat-table>
<!-- Pagination -->
<mat-paginator *ngIf="isPageable" [pageSize]="defaultPageSize" [length]="length" >
</mat-paginator>